/* Utility Classes */
.display-1 { 
  font-size: 40px; 
}

/* Header */
#mainheader {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

#bodyheader {
  height: 100%;
  padding-top: 0px;
}

/* Navbar */
#navbar {
  text-align: center;
  padding-bottom: 25px;
  display: flex;

}

#navbar .logo {
  float: none;
  padding-bottom: 20px;
}

#navbar ul {
  float: none;
  display: flex;
  flex-direction: column;
}

#navbar ul li a {
  padding: 10px;
  

}

/* Showcase */
#showcase {
  text-align: center;
  padding-top: 50px;
}

#showcase h1 {
  padding-left: 0px;
  padding-top: 40px;
}

#showcase p {
  padding-left: 0px;
}

/* Importacion */
#impo {
  height: 100%;
}

.impo-izq,
.impo-der {
  float: none;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

/* Exportacion */
#expo {
  height: 100%;
}

#expo h2 {
  padding-bottom: 30px;
}

.expo-box {
  float: none;
  width: 100%;
  padding: 20px;
}

/* Contacto */
#contact {
  height: 100%;
  padding-top: 50px;
}

#contact h2 {
  padding-bottom: 40px;
}

#contact form {
  width: 100%;
  padding-bottom: 50px;
}

/* Footer */
#mainfooter {
  padding: 30px;
  size: 100%;
  
}

